langchain-community==0.3.31
langchain-core==0.3.78
langchain-text-splitters==0.3.11
langchain-chroma==0.2.4
langchain-groq==0.3.2
langchain-huggingface==0.3.1
streamlit==1.46.0
python-dotenv==1.1.0
sentence-transformers==5.1.2  #Streamlit deployment, Load hugging face embeddings
beautifulsoup4==4.13.3 #Streamlit deployement, web base loader internally uses it.
